@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;

}

#menu{
    list-style: none;
    padding: 0;
    background-color:rgb(51, 54, 82)
}

#menu li{
    display: inline;
}
#menu li a{
    font-family: 'Open Sans', sans-serif;
    color:#fff;
    padding: 25px;
    text-decoration:none;
    display: inline-block;
    transition: background .6s;
}

#menu li a:hover{
    font-family: 'Open Sans', sans-serif;
    background:rgb(24, 139, 133);
}